/* GLOBAL STYLE */

ul,li{
    list-style-type: none;
    list-style: none;
}

/* NAVBAR STYLE */


.div {
    padding: 0%;
    margin: 0%;
}

.ul {
    padding: 5px 10px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(0, 0, 0);

}

.li {
    list-style-type: none;
    list-style: none;
    padding: calc(0.5rem + 2px);

}


.link {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: large;
    padding: 0.5rem;
    margin: 0 15px;
    border: 2px solid black;
    border-radius: 1rem;


}

.link:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: large;
    padding: 0.5rem;
    margin: 0 15px;
    border: 2px solid black;
    border-radius: 1rem;


}



/*BODY STYLE */


.body-div {
    margin: auto;
    text-align: center;
}

.add-div {
    border: 2px solid rgb(79, 78, 78);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35rem;
    height: 6rem;
    background-color: rgb(233, 235, 235);
    margin:20px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.todos-div{

   display: flex;
   justify-content: center;
}

.todo-li{
   display: flex;
   align-items: center;
   justify-content: center;
    width: 32rem;
    height: 5rem;
    border: 2px solid black;
    margin: 10px 10px;
    border-radius:20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(233, 235, 235);

}

.input {
    padding:5px;
    height: 35px;
    border-radius: 10px;
    margin: 0.35rem;
    border: 2px solid rgb(171, 170, 170);
}



.button {
  font-size:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
    width: 100px;
    height: 45px;
    background-color: rgb(7, 33, 97);
    border: 2px solid rgb(12, 12, 12);
    border-radius: 9px;
}
.button:hover {
  font-size: 20px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    color:  rgb(7, 33, 97);
    border-radius: 9px;
    transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.todos-button{
    display: flex;
    margin: 5px 0.3rem;
    font-size:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
    width: 100px;
    height: 45px;
    background-color: rgb(7, 33, 97);
    border: 2px solid rgb(12, 12, 12);
    border-radius: 9px;
}

.todos-button:hover{
    display: flex;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    color:  rgb(7, 33, 97);
    border-radius: 9px;
    transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.true{background-color: rgb(69, 196, 130);}

.false {background-color: rgb(177, 47, 27);}


